@charset "UTF-8";

.navbar {
	border-bottom: 2px solid #f4f4f4;
	background-color: #ffffff;
	opacity: 1;
}

.btn-primary {
	background-color: #FF4E5B !important;
	border-color: #FF4E5B !important;
}

.form-container{
	border: 2px solid #f4f4f4;
	border-radius: 15px;
	padding: 20px;
}