@charset "UTF-8";
#sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	border: 2px solid #f4f4f4;
}
.dashboard-con {
	padding: 20px 20px;
}
.banner-welcome {	
	width: 1040px;
	min-height: 246px;
	background-size: 449px 246px;
	background-position-x: right;
	background-position-y: bottom;
	background-repeat: no-repeat;
	border: 2px solid #f4f4f4;
	border-radius: 20px
}
.btn-primary {
	background-color: #FF4E5B !important;
	border-color: #FF4E5B !important;
}

body{
	width : 100%;
	height : 100%;
	background-image : url ("../images/logo-doctorange.png");
	font-family: Arial, sans-serif;
}

* {
	margin: 0;
}

p {
	margin: 0 !important;
}
/*nav bar*/
.navbar-reg {
	border-bottom: 1px solid #cecece !important;
	background-color: #ffffff;
}
/*en navbar*/

/*Start of dashboard*/
#sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	border: 2px solid #f4f4f4;
}

.hr-line {
	border-top: 2px solid #cccccc !important;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
	font-weight: 700 !important;
	color: var(- -bs-red) !important;
	border-right-color: currentcolor !important;
}

.nav-underline .nav-link {
	padding-right: 0;
	padding-left: 0;
	border-right: 5px solid transparent;
	border-bottom: 0 !important;
	font-size: 600;
}

.dashboard-con {
	padding: 20px 40px;
}

.banner-welcome {
	background-image: url("../images/doctor-dashboard-bg.png");
	/* width: 1040px; */
	min-height: 246px;
	background-size: 449px 246px;
	background-position-x: right;
	background-position-y: bottom;
	background-repeat: no-repeat;
	border: 2px solid #f4f4f4;
	border-radius: 20px;
}

.avatar-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e6e6;
	width: 70px;
	height: 70px;
	border-radius: 50px;
}

.btn-primary {
	background-color: #FF4E5B !important;
	border-color: #FF4E5B !important;
}

.border-icon-status {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.175);
	border-radius: 10px;
	min-width: 40%;
	min-height: 100%;
}

.border-icon-status span {
	font-size: 40px;
}

.btn-outline-primary {
	border-color: #FF4E5B !important;
	color: #FF4E5B !important;
}

.btn-outline-primary:hover {
	background-color: #FF4E5B !important;
	color: #ffffff !important;
}
/*End of dashboard*/
/*Login*/
.navbar {
	border-bottom: 2px solid #f4f4f4;
	background-color: #ffffff;
	opacity: 1;
	font-size: 10px;
}

a.navbar-brand {
	font-size: 14px;
}

/* start create-appointment.jsp */
.formCreateApp {
	border: 2px solid #f4f4f4;
	border-radius: 15px;
	padding: 20px 20px !important;
}

/*Start my-appointment.jsp*/
#infinite-table {
	padding: 20px 0;
	border: 2px solid #f4f4f4;
	border-radius: 20px;
	overflow: auto;
	height: 100%;
}

table td {
	min-height: 50px;
}

table td:hover {
	cursor: pointer;
}

button.btn {
	min-width: 43px;
}

.header {
	position: sticky;
	background-color: #ffffff;
	top: 0;
}

.form-check-input:checked {
	background-color: #FF4E5B !important;
	border-color: #FF4E5B !important;
}

.btn-primary {
	background-color: #FF4E5B !important;
	border-color: #FF4E5B !important;
}

button.btn.btn-primary:hover {
	background-color: #ffffff !important;
	color: #FF4E5B !important;
}


::placeholder {
	color: grey !important;
	font-size: 12px;
}

.footer-1 {
	position: fixed;
	bottom: 0;
	padding: 15px;
	background-color: #ffffff;

	border-top: 1px solid #f4f4f4 !important;
}

/*End of login*/
.jumbotron.jumbotron-fluid{
	background-image: url("../images/settings.png");
	/* width: 1040px; */
	min-height: 246px;
	background-size: 350px 280px;
	background-position-x: right;
	background-position-y: bottom;
	background-repeat: no-repeat;
	border: 2px solid #f4f4f4;
	border-radius: 20px;
}
.container-setting{
	/* width: 1040px; */
	min-height: 246px;
	background-size: 350px 280px;
	background-position-x: right;
	background-position-y: bottom;
	background-repeat: no-repeat;
	border: 2px solid #f4f4f4;
	border-radius: 20px;

}