@charset "UTF-8";

* {
	margin: 0;
}
/*Login*/
.navbar {
	border-bottom: 2px solid #f4f4f4;
	background-color: #ffffff;
	opacity: 1;
	font-size:10px;
}
a.navbar-brand{
	font-size:14px;
}

.btn-primary {
	background-color: #FF4E5B !important;
	border-color: #FF4E5B !important;
}
button.btn.btn-primary:hover{
	background-color:#ffacb3 !important;
}
::placeholder{
	color:grey !important;
	font-size: 12px;
}
.card-footer{
	background-color: #ffffff;
	border-top: 3px solid #f4f4f4 !important;
	opacity: 1;
	margin-top:15px;
}