<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <display-name>BugSlayerProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dashboardHandler</display-name>
    <servlet-name>dashboardHandler</servlet-name>
    <servlet-class>dashboardHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboardHandler</servlet-name>
    <url-pattern>/dashboardHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAppointment</display-name>
    <servlet-name>MyAppointment</servlet-name>
    <servlet-class>controller.appointment.MyAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAppointment</servlet-name>
    <url-pattern>/MyAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPatient</display-name>
    <servlet-name>MyPatient</servlet-name>
    <servlet-class>controller.patient.MyPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPatient</servlet-name>
    <url-pattern>/MyPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingServlet</display-name>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>controller.settings.SettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/SettingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAppointment</display-name>
    <servlet-name>CreateAppointment</servlet-name>
    <servlet-class>controller.appointment.CreateAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAppointment</servlet-name>
    <url-pattern>/CreateAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAppointment</display-name>
    <servlet-name>EditAppointment</servlet-name>
    <servlet-class>controller.appointment.EditAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAppointment</servlet-name>
    <url-pattern>/EditAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBill</display-name>
    <servlet-name>UpdateBill</servlet-name>
    <servlet-class>controller.appointment.UpdateBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBill</servlet-name>
    <url-pattern>/UpdateBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointment</display-name>
    <servlet-name>DeleteAppointment</servlet-name>
    <servlet-class>controller.appointment.DeleteAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointment</servlet-name>
    <url-pattern>/DeleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSetting</display-name>
    <servlet-name>UpdateSetting</servlet-name>
    <servlet-class>controller.settings.UpdateSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSetting</servlet-name>
    <url-pattern>/UpdateSetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePatient</display-name>
    <servlet-name>CreatePatient</servlet-name>
    <servlet-class>controller.patient.CreatePatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePatient</servlet-name>
    <url-pattern>/CreatePatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPatient</display-name>
    <servlet-name>EditPatient</servlet-name>
    <servlet-class>controller.patient.EditPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPatient</servlet-name>
    <url-pattern>/EditPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatient</display-name>
    <servlet-name>DeletePatient</servlet-name>
    <servlet-class>controller.patient.DeletePatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatient</servlet-name>
    <url-pattern>/DeletePatient</url-pattern>
  </servlet-mapping>
</web-app>